@model List<StudentLeaf.Models.SessonRecord>
@{
    ViewBag.Title = "History";
}

<h2>History</h2>
<div class="form-horizontal>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
      

    </table>
<</div>