@model List<StudentLeaf.Models.Student>
@{
    ViewBag.Title = "Index";
}
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

</head>

<h2>Students</h2>
<body>
    <div class="form-horizontal">
        <table class="table table-hover" id="studentTable">
            <thead>
                <tr>
                    <th> Student Name </th>
                    <th> Active Lessons</th>
                    <th> Delete </th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>

        <div id="modal" class="container">
        </div>


    </div>
    <div class="container">

        <!-- Trigger the modal with a button -->
        <button type="button" id="modalBtn" hidden></button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="mHeader" class="modal-title"></h4>

                    </div>
                    <div id="mBody" class="modal-body">
                        <div class="row">
                            <div class="container col-lg-12">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

                                    <div id="inCarousel" class="carousel-inner">
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                        <div id="mFooter" class="modal-footer">
                            <!-- Left and right controls -->
                            <a class="left pull-left" id="leftBtn">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a style="" class="right" id="rightBtn">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
          
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                        </div>
                </div>

            </div>
        </div>

    </div>
</body>

@section scripts{
<script>
    var sId, aId, resultData, gStudent, gLesson, currLesson, gHistory; 

    $(document).ready(function () {
        $.getJSON("/student/list", function (result) {
            resultData = result;
        });

       table = $('#studentTable').DataTable({
            ajax: {
                url: "/student/list",
                dataSrc: ""
            },
            columns: [
                {
                    name: "id-Column",
                    data: "Name",
                    render: function (data, type, student) {
                        return "<a data-id="+student.Id+" id='editref' href='/student/edit/" + student.Id + "'>" + student.Name + "</a>";
                    }
                },
                {
                    data: "ActiveLessons",
                    render: function (data) {
                        var lessons;
                        $.each(data,
                            function (index, value) {
                                return lessons += "<option data-id="+ value.Id +" value=''>" + value.LessonPlan + "</option>";
                        });
                       
                        return "<select id='dropDown' class='form-control'><option selected='selected'>-Select Lesson-</option>" + lessons + "</select>";
                    }
                },
                {
                    "data": "id",
                    render: function (data) {
                        return "<button class='btn-link js-delete' data-id=" + data + ">Delete</button>";
                    }
                }
            ]
       });
       
    });
    
    
    //Targets the tbody and binds "hover" event listener to the selected "tr"
    $("#tableBody").on("mouseenter", "tr", function () {
        //Finds the "a" element in the tr and stores its data value in "sId"
        sId = $(this).find('a').data("id");
    });
    
    //Targets the tbody and binds "click" event to the dropdown which calls another function ->
    $("#tableBody").on("click", "select", function () {
        //called when "select" is clicked -> this function when the "selected" value is changed
        $(this).change(function () {
            //Finds the selected "option" in the dropdown and stores its data-id value in "aId"
            aId = $(this).find("option:selected").data("id");
            getStudent(resultData, sId);
            getLesson(gStudent, aId);
            getHistory(gStudent);
            editModal(gStudent, gLesson);

            currLesson = gLesson;
            //(1)-->    //called when the "change" function is called -> invokes the click event for the targeted element -> 
            $('#modalBtn').click();
            $('#dropDown option').prop('selected',
                function() {
                    return this.defaultSelected;
                });
        });
        });

//(1)--> //called from above function on line -120-  
    $("#modalBtn").click(function () {
         //Calls the "modal" function on the modal div
        $("#myModal").modal("toggle", { backdrop: true });
    });
    function editModal(student, lesson) {
        $('#mHeader').html(student.Name);
        //this is where Modal and carousel is going to be in
        //call the function for modal 
        createCarousel(student, lesson);
        //gLesson = lesson;
        //this is where Modal and carousel is going to be in 
    };
    $('#leftBtn').click(function () {
        var prevLesson;
        var lessons = gStudent.ActiveLessons;
        var n = lessons.indexOf(currLesson);
        var y = lessons.length;
        var x = lessons.length - 1;
        if (n == 0) {
            console.log("There are no previous lessons in the array");
        }
        else if (n == x && lessons.length <= 1)
        {
            console.log('There is only one lesson in the array');
        } else if (n == x) {
            prevLesson = lessons[n - 1];
            currLesson = prevLesson;
            createCarousel(gStudent, currLesson);
        } else if (n > (x-y))
        {
            prevLesson = lessons[n - 1];
            currLesson = prevLesson;
            createCarousel(gStudent, currLesson);
        }
        
    });
    $('#rightBtn').click(function () {
        var nextLesson;
        var lessons = gStudent.ActiveLessons;
        var n = lessons.indexOf(currLesson);
        var x = lessons.length - 1;
        if (n == x)
        {
            console.log('blah');
        }
        else if (lessons.length <= 1)
        {
            console.log('Only one Active Lesson.');
        }
        else if (lessons.length > 1) {
            var i = lessons.indexOf(currLesson);
            nextLesson = lessons[i + 1];
            currLesson = nextLesson;
            createCarousel(gStudent, nextLesson);
        }
    });
    function getHistory(student) {
        gHistory = student.History;
        console.log(gHistory);
    }
    function getStudent(jsonObj,studentId) {
        $.each(jsonObj,
            function (index, findStudent) {
              //Assigns that student object to "student"
                if (findStudent.Id === studentId) { gStudent = findStudent;};
                
        });
    }
    function getLesson(studentObj, lessonId) {
        $.each(studentObj.ActiveLessons,
               function (index, findLesson) {
                   ///TODO///account for aId = 'Select Lesson Value' or 'Null'
                   //Assigns that lesson object to "lesson"
                   if (findLesson.Id === lessonId) { gLesson = findLesson; };
               });
    };
    function createCarousel(student, lesson) {
        $('#inCarousel').empty();
        $('#inCarousel').append(insideModal);
        var insideModal =
 //       '<div class="item active">' +
            '<div class="container">' +
                '<div class="row col-sm-12 well">' +
                //left part of the table
                    '<div class="col-sm-6 well" style="height:248px">' +
                        '<table class="table">' +
                            '<thead>' +
                                '<tr>' +
                                    '<th>Active Lesson</th>' +
                                '</tr>' +
                            '</thead>' +
                            '<tbody>' +
                                '<tr>' +
                                    '<td>Lesson Type</td>' +
                                    '<td>' + lesson.LessonPlan + '</td>'+
                                '</tr>' +
                                '<tr>' +
                                    '<td>Selling Instructor</td>' +
                                    '<td>' + lesson.SInstructor + '</td>' +
                                '</tr>' +
                                '<tr>' +
                                '<td>Style</td>' +
                                '<td>' + lesson.Style + '</td>' +
                                '</tr>' +
                            '</tbody>' +
                        '</table>' +
                    '</div>' +

                    //right part of the table (history)
                    '<div class="col-sm-6 well">' +
                        '<table class="table" id="historyTable">' +
                            '<thead>' +
                                '<tr>' +
                                    '<th>DTG</th>' +
                                    '<th>Instructor</th>' +
                                    '<th>Hours</th>' +
                                '</tr>' +
                            '</thead>' +
                            '<tbody>' +
                                '<tr>' +
                                    '<td>June 2, 2017</td>' +
                                    '<td>Steve</td>' +
                                    '<td>5 Hours</td>' +
                                '</tr>' +
                                '<tr>' +
                                    '<td>June 4, 2017</td>' +
                                    '<td>Steve</td>' +
                                    '<td>5 Hours</td>' +
                                '</tr>' +
                                '<tr>' +
                                    '<td>June 5, 2017</td>' +
                                    '<td>Steve</td>' +
                                    '<td>5 Hours</td>' +
                                '</tr>' +
                            '</tbody>' +
                            '</table>' +
                            '<div class="progress">' +
                            '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:60%">' +
                            'Hours used out of X' +
                            '</div>' +
                            '</div>' +
                      '</div>' +
                    '</div>' +
                '</div>' +
            '</div>';
        $('#inCarousel').append(insideModal);

    }

    var lessonModal = {
        nextLesson: null,
        currLesson: null,
        prevLesson: null,
        i: 0,
    }

</script>
}